html {
    cursor: url(../imagens/mata_mosca.png) 30 30, auto;
}

body {
    background-image: url(../imagens/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0;
    left: 0;
    border-top: 1px solid white;
    background-color: white;
    opacity: 0.7;
    border-top-right-radius: 7px;
}

.vida {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.mosquito1 {
    height: 60px;
    width: 60px;
    
}

.mosquito2 {
    height: 70px;
    width: 70px;
}

.mosquito3 {
    height: 90px;
    width: 90px;
}

.ladoA {
    transform: scaleX(1);
}
.ladoB {
    transform: scaleX(-1);
}